.content-inventario {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100vw;
    overflow-y: auto;
}
.header-detallesInventario {
    align-items: center;
    justify-content: space-between;
    display: flex;
    float: left;
    & .btn-back {
        float: left;
        margin-left: 10px;
        width: 150px;
        float: right;
        border-radius: 10px;
        border: 2px solid transparent;
        outline: none;
        background-color: #2C2C2C;
        color: #ffffff;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #ffffff;
            border-radius: 10px;
            color: #000000;
            transform: scale(1.03);
            border: 2px solid #9e12e4;
        }
    }
}
.form-eliminar {
    margin: 0;
    padding: 0;
}
.header i{
    margin-right: 5px;
}
.filtros {
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    justify-content: left;
    gap: 10px;
    width: 100%;
}

.form-control {
    display: flex;
    align-items: center;
    gap: 3px;
}

.form-control {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    width: 500px;
    transition: all 0.3s ease-in-out;
    max-height: 40px;
    &:focus {
        border: 2px solid #9e12e4;
        box-shadow: 0 0 5px #9e12e4;
    }
}

#limpiar-filtros-compras {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    background-color: #2C2C2C;
    color: #ffffff;
    font-size: 16px;
    justify-content: center;
    width: 400px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 10;

    &:hover {
        background-color: #f48637 !important;
        border-radius: 10px;
        color: #000000 !important;
        transform: scale(1.05);
        border: 2px solid #e47012;
    }
}
.inputdate {
    display: flex;
    align-items: center;
    text-align: center;
    width: 10% !important;
}