.container-modal-editar-clientes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000;
}

.container-modal-editar-clientes.mostrar {
    opacity: 1;
    visibility: visible;
}

.container-modal-editar-clientes .modal {
    width: 100%;
    display: flex;
    margin: 0 500px;
    padding: 50px;
    background-color: #000000;
    z-index: 1;
    opacity: 0.6;
}

form {
    width: 100%;
    display: flex;
}

.registrar-clientes-container{
    background: #fff;
    color: #000;
    width: 90%;
    max-width: 700px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
}

.registrar-clientes-container::-webkit-scrollbar {
    width: 6px;
}
.registrar-clientes-container::-webkit-scrollbar-thumb {
    background-color: #9e12e4;
    border-radius: 6px;
}